#!/bin/sh

npm() {
    echo ""
    echo "😞 Shame on you for trying to use npm. I thought you knew better..."
    echo ""
    echo "🤓 If you were a REAL developer, you would use pnpm..."
    echo ""
    echo "😒 But if you absolutely need to, run \"command npm\" to bypass."
    echo ""
    return 1
}