node_modules
dist
.DS_Store

# workspace artifacts
pnpm-debug.log*
*.tsbuildinfo
coverage/
.env
.env.*
!.env.example
!.env.*.example

# examples
examples/*/node_modules
examples/*/dist
examples/*/.vite

# changesets
.changeset/pre.json
